.App {
  text-align: center;
  background-color: grey;
  height: 100dvh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

svg.graphs{
  background-color: white;
  margin-top: 30px;
  border-radius: 10px;
  border: 4px solid black;
  margin-left: 20px;
}

